.box {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  margin: 10px 10px 10px 305px;
  width: 70%;
}

.chatBox {
  padding: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  max-height: 100px;
  height: auto;
  justify-content: space-around;
}

.inputArea {
  margin-top: 10px;
  width: 100%;
}