.paper {
  padding: 30px 20px;
  margin: 30px auto;
  width: 350px;
}

.form > * {
  margin: 5px auto;
}

.loginBtn {
  display: block;
  width: 200px;
}

.forgot {
  text-decoration: none;
}
.forgot:hover {
  text-decoration: underline
}