.paper {
  padding: 30px 20px;
  margin: 50px auto;
  width: 350px;
}

.form > * {
  margin: 15px auto;
}

.btn {
  display: block;
  width: 200px;
}

.backBtn {
  text-decoration: none;
}
.backBtn:hover {
  text-decoration: underline
}